<!-- <li class="nav-item">
  <a class="nav-link" href="/rooms"><span><i class="fas fa-bell"></i></span></a>
</li> -->
<% user = User.find(message.receiver_id)
  notification_count = user.notifications.where(is_read_header: false).count
%>
<% if notification_count > 0 %>
  <a class="nav-link" href="/rooms">Massage(<%= notification_count %>)</a>
<% else %>
  <a class="nav-link" href="/rooms">Massage</a>
<% end %>